.container {
  background-color: var(--white);
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 90%;
  height: 500px;
  max-width: 850px;
}

.container form {
  width: 80%;
  height: 100%;
  display: grid;
  padding: 1em 2em;
  margin: auto;
}

@media (max-width: 768px) {
  .container form {
    width: 100%;
  }
}

@media (max-width: 596px) {
  .container {
    height: 100vh;
    width: 100vw;
    background-color: var(--magnolia);
    grid-template-columns: 1fr;
    position: relative;
  }

  .container form {
    position: relative;
    display: block;
    z-index: 2;
    top: 15vh;
    width: 100%;
    height: 85vh;
    margin: 0;
    padding: 0;
    border-radius: .5em;
  }
}