.sidebar {
  background-image: url('../assets/images/bg-sidebar-desktop.svg');
  background-size: cover;
  background-position: center;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5em;
  width: 100%;
  padding-top: 1em;
}

.sidebar > div {
  font-size: 0.75em;
  width: 100%;
  display: flex;
  padding: 1em 2em;
  align-items: center;
}

.sidebar > div span {
  border: 1px solid var(--lightgray);
  color: var(--lightgray);
  font-size: small;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .text_step {
  margin-left: 1em;
  color: var(--magnolia);
}

.sidebar .text_step small {
  color: var(--lightgray);
}

.sidebar .text_step p {
  font-weight: 500;
  font-size: 1em;
  padding-top: 0.25em;
}