.input-box {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}

.input-box p {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0.25em 0;
}

.input-box p span {
  color: #ed3548;
}

.input-box-input {
  margin: 0.25em 0;
  padding: 0.75em;
  font-weight: 500;
  border-radius: 0.5em;
  border: solid 1px var(--lightgray);
  color: var(--marine);
  outline-color: var(--purplish);
  cursor: pointer;
}

.step .title-box {
  padding: 1em 0;
}

.title-box h2 {
  padding: 0.5rem 0;
  color: var(--marine);
}

.title-box p {
  color: var(--cool);
  font-size: 0.8em;
}

.invalid {
  border: 1px solid #ed3548;
}

/* Step two */

.box-card {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.card input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}


.card {
  border: 1px solid var(--lightgray);
  border-radius: .5em;
  padding: 1em;
  width: 30%;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.card:hover {
  border-color: var(--purplish);
}

.info {
  padding-top: 2em;
}

.info p {
  font-weight: 700;
  color: var(--marine);
}

.info span {
  color: var(--cool);
  font-size: .8em;
}

.period {
  background-color: var(--magnolia);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8em;
  border-radius: .5em;
  margin-top: .5em;
}

.period p {
  font-weight: 700;
  color: var(--cool);
  font-size: .9em;
}

/* SWITCH */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin: 0 1em;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.slider {
  background-color: var(--marine);
}

.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* STEP THREE */

.box-card-add-ons {
  display: flex;
  flex-direction: column;
}

.box-card-add-ons .card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: .5em 0;
}

.box-card-add-ons .card .content {
  display: flex;
  align-items: center;
}

.box-card-add-ons .card .info {
  margin-left: 1em;
}

.box-card-add-ons .card .check-service {
  border: 1px  solid var(--lightgray);
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: .3em;
}

.box-card-add-ons input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
}

.box-card-add-ons input[type='checkbox']:checked + .check-service {
  background-color: var(--purplish);
  background-image: url('../assets/images/icon-checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.box-card-add-ons .card input {
  font-size: 2em;
}

.box-card-add-ons .card .info {
  padding: 0;
}